workflows/KF4KzprHnahglYKS.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-25T05:52:47.556Z",
  "id": "KF4KzprHnahglYKS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "ai agent",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        -340
      ],
      "id": "a730375c-6721-4c7d-ad4b-1eeb10cdc571",
      "name": "When chat message received",
      "webhookId": "9dded701-0647-4e28-b6a1-1c213d764bfd"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -180,
        -460
      ],
      "id": "dc3a8863-d070-4ec5-b0a1-1c11fbf79cec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b30ad68c-f2ac-4e84-8c79-1251b355187a",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "d65600fc-6052-4455-a5ef-28dda8583feb",
              "name": "error",
              "value": "={{ $json[\"0\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        -440
      ],
      "id": "7b60dad2-ec1c-44c4-b6ca-edc8c06b3165",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -160,
        -160
      ],
      "id": "65fe0367-6c4c-449a-903e-e7cc4dd0abcf",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -300,
        -180
      ],
      "id": "8107aeab-bc4a-4ed0-90d5-59063b9f533a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "m4J2UpPFZDrPBMxp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-25T17:11:50.000Z",
  "versionId": "796e0390-95db-4740-a1a0-1db02976d691"
}